doctype html
html
	head
		title= 'backendstuff'
		link(rel='stylesheet', href='/stylesheets/style.css')
	body
		ul
			li 
				a(href='/') Home
				a(href='/cs/addorder') Add/View Order
				a(href='/admin/addproduct') Add/View Product
				a(href='/cs/addcustomer') Add/View Customer
				a(href='/admin/addpmethod') Add/View Payment Method
				a(href='/cs/runpayment') Run Payment
				a(href='/qa/review') Review Orders
				a(href='/cs/shipping') Shipping
				a(href='/wh/printorders') Print Orders
				a(href='/login') Login
				a(href='/logout') Logout
				a(href='/register') Register
		block content
    
