doctype html
html
	head
		title= 'backendstuff'
		link(rel='stylesheet', href='/stylesheets/style.css')
	body
		ul
			li 
				a(href='/') Home
				a(href='/addorder') Add/View Order
				a(href='/addproduct') Add/View Product
				a(href='/addcustomer') Add/View Customer
				a(href='/addpmethod') Add/View Payment Method
				a(href='/runpayment') Run Payment
				a(href='/paidorders') Paid Orders
				a(href='/shipping') Shipping
				a(href='/printorders') Print Orders
		block content
    
