extends layout
block content
	h1 register
	form(method="post")
		span username
		input(type="text",name="username")
		br
		span password
		input(type="password",name="password")
		br
		span email
		input(type="text",name="email")
		br
		span type
		select
			option(value="admin",name="type") admin
			option(value="cs",name="type") cs
			option(value="qa",name="type") qa
			option(value="ret",name="type") ret
			option(value="wh",name="type") wh
		br
		input(type="submit",value="register")
