extends layout
block content
	h1 register
	form(method="post")
		span username
		input(type="text",name="username")
		br
		span password
		input(type="password",name="password")
		br
		span email
		input(type="text",name="email")
		br
		span type
		select(name="usertype")
			option(value="admin") admin
			option(value="cs") cs
			option(value="qa") qa
			option(value="ret") ret
			option(value="wh") wh
		br
		input(type="submit",value="register")
