doctype html
html
  head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    title MDN Example
    script(type='text/javascript').
      function closePrint () {
      document.body.removeChild(this.__container__);
      }
      function setPrint () {
      this.contentWindow.__container__ = this;
      this.contentWindow.onbeforeunload = closePrint;
      this.contentWindow.onafterprint = closePrint;
      this.contentWindow.focus(); // Required for IE
      this.contentWindow.print();
      }
      function printPage (sURL) {
      var oHiddFrame = document.createElement("iframe");
      oHiddFrame.onload = setPrint;
      oHiddFrame.style.visibility = "hidden";
      oHiddFrame.style.position = "fixed";
      oHiddFrame.style.right = "0";
      oHiddFrame.style.bottom = "0";
      oHiddFrame.src = sURL;
      document.body.appendChild(oHiddFrame);
      }
  body
    p
      span(onclick="printPage('http://api.postmaster.io/v1/label/AMIfv978k9KUWQ2_ch-hYyVSpKlpj-yKdweL_mST7z-5RLcqqbBxkYHxAn1TJ1E7_IJiG5CW64GMtD9r7b2IhATazD-um7hK5ysOxJ2RbinZXLlbdSduVMt2vpXvKaWMBBwWCxd8d1aB9cKuwswGhSeV5b-iL_qcgoelpapoiPFeGFfVuLJ4PaU');", style='cursor:pointer;text-decoration:underline;color:#0000ff;') Print external page!

